<!DOCTYPE html>
<html lang="en">

<head>
  <title>Liang Wei</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <style>
    a.one:link,
    a.one:visited {
      display: block;
      width: 108px;
      font-weight: bold;
      color: #FFFFFF;
      background-color: #bebebe;
      text-align: center;
      padding: 5px 16px 4px 16px;
      text-decoration: none;
      text-transform: uppercase;
    }

    a.one:hover,
    a.one:active {
      background-color: #99CCFF;
    }
  </style>
</head>

<body>
  <div id="app" class="container">

    <div class="row">
      <div class="span3">
        <br><br><br>
        <p style="font-size:280%;font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;">
          <strong> Wei Liang</strong>
        </p>
      </div>
      <div class="span9">
        <br><br><br>
        <ul style="list-style-type:none;margin:0;padding:0;overflow:hidden;">
          <li style="float:left">
            <a class="one" href="./">Home</a>
          </li>
          <!-- <li style="float:left">
            <a class="one" href="http://liangwei-bit.github.io/web/project-liangwei.html">Projects</a>
          </li> -->
          <li style="float:left">
            <a class="one" href="./people-liangwei.html">People</a>
          </li>
          <li style="float:left">
            <a class="one" href="./teaching-liangwei.html">Teaching</a>
          </li>
          <li style="float:left">
            <a class="one" href="./photo-liangwei.html">Photos</a>
          </li>
          <li style="float:left">
            <a class="one" href="./chinese-liangwei.html">中 文</a>
          </li>

          <!-- <li style="float:left">
            <a class="one" href="http://liangwei-bit.github.io/web/lab">Login</a>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<img alt="100x100" src="./img/people4.png" width="150" height="150" />
      </div>

      <div class="span9">
        <br><br>
        <p style="font-size:110%;text-align:justify;">
          I am an associate professor in the school of <strong>Computer Science</strong> at <strong>Beijing Institute of
            Technology</strong> (BIT).

          I received my Ph.D in computer science from BIT in 2005.&nbsp; I worked as a visiting professor at &nbsp;<a
            href="http://www.stat.ucla.edu/~sczhu/" target="_blank"
            style=" font-weight:bold; vertical-align: middle;color:#000000">Song-Chun Zhu</a>&nbsp;'s Vision Cognition
          Learning and Autonomous &nbsp;(VCLA)&nbsp;in 2014 and 2015.&nbsp;&nbsp;My research

          interests lie in the field of Computer Vision, Statistical Inference, VR for training and education, and
          Cognitive Science.

          <br><br>

          <strong>Email:liangwei[at]bit[dot]edu[dot]cn</strong>
        </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="span12">
        <h4>
          &nbsp;&nbsp;Recent News
        </h4>
        <ul style="font-size:110%;text-align:justify;">
          <li v-for="(news_html, index) in news" :key="index">
            <span v-html="news_html"></span>
          </li>
     
          <br>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h4>
          &nbsp;&nbsp;Selected Publications
        </h4>

        <my-publication v-for="(pub, index) in pubs" v-bind:key="index" v-bind:pub="pub"></my-publication>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="span1">
        &nbsp;&nbsp;
        <img alt="130x130" src="./img/huibiao.png" style="width:60px; height:60px" />
      </div>

      <div class="span4">
        <ul class="unstyled">
          <br>
          <li style="font-size:130%">媒体计算与智能系统实验室</li>
          <br>
          <li style="font-size:100%">Media Computing and Intelligent Systems Lab</li>
        </ul>
      </div>

      <div class="span7">
        <p class="text-center" style="font-size:110%;font-family:Times,Georgia,New Century Schoolbook">
          <br>
          Beijing Institute of Technology Copyright Address: 5 South Zhongguancun
          <br>
          <br>
          Street, Haidian District, Beijing, China 100081
        </p>
      </div>

      <br>
      <br>
    </div>

    <br>
    <br>
  </div>

  <script>
    Vue.component('my-publication', {
      props: ['pub'],
      template: `
      <div>
        <div class="row">
          <div class="span3">
            <br>
            <img alt="130x130" src="" style="width:230px; height:125px" class="img-polaroid" lazyload="true" v-bind:data-original="pub.image"/>
          </div>

          <br>

          <div class="span9" v-bind:style="pub.bgColor">
            <ul class="unstyled">
              <li style="font-size:105%"><strong>{{ pub.title }}</strong></li>
              <br>
              <li style="font-size:100%;">{{ pub.authors }}</li>
              <br>
              <li style="font-size:100%"><strong><span v-html="pub.publisher"></span></strong></li>
            </ul>

            <a v-bind:href="pub.paper" target="_blank" style="font-weight:bold; vertical-align: middle; color:#787878">
              <img alt="Paper Abstract" src="./img/Paper.png" border="0" title="Paper"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a v-bind:href="pub.video" target="_blank" style="font-weight:bold; vertical-align: middle; color:#787878">
              <img alt="Paper Abstract" src="./img/Video.png" border="0" title="Video"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a v-bind:href="pub.presentation" target="_blank" style="font-weight:bold; vertical-align: middle; color:#787878">
              <img alt="Paper Abstract" src="./img/Ppt1.png" border="0" title="Presentation"></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a v-bind:href="pub.project" target="_blank" style="font-weight:bold; vertical-align: middle; color:#787878">
              <img alt="Paper Abstract" src="./img/home.png" border="0" title="Project"></a>
          </div>
        </div>
        <br>
      </div>`,
    })

    function getPublications(jsondata) {
      let pubs
      if (jsondata == undefined) {
        pubs = []        
      } else {
        pubs = jsondata['publications']
      }

      for (let i = 0; i < pubs.length; i++) {
        if (i % 2 == 1) {
          pubs[i]['bgColor'] = { "background-color": "#E8E8E8" }
        } else {
          pubs[i]['bgColor'] = { "background-color": "#ffffff" }
        }
      }
      // console.log(pubs)
      return pubs
    }

    function getNews(jsondata) {
      if (jsondata['news'] == undefined) {
        return []
      }
      else {
        return jsondata['news'].slice(0,10)
      }
    }

    const viewHeight = Math.min(document.body.clientHeight, document.body.clientHeight) // get visible area
    // console.log(viewHeight)
    function lazyload() {
      let eles = document.querySelectorAll('img[data-original][lazyload]')

      Array.prototype.forEach.call(eles, function (item, index) {
        if (item.dataset.original === "")
          return

        let rect = item.getBoundingClientRect() // get bounding
        // console.log(index, rect.bottom, rect.top)

        if (rect.bottom >= 0 - 100 && rect.top < viewHeight + 100) { // 100 px, approximately equal to image height
          item.src = item.dataset.original
          item.removeAttribute("data-original") // remove attribute
          item.removeAttribute("lazyload")
        }
      })
    }

    document.addEventListener("scroll", lazyload)

    let app = new Vue({
      el: '#app',
      data: {
        jsondata: {'publications': [], 'news': []},
      },
      computed: {
        pubs() {
          return getPublications(this.jsondata)
        },
        news() {
          return getNews(this.jsondata)
        }
      },
      updated: function () {
        this.$nextTick(function () {
          lazyload()
        })
      },
      methods: {
        loadData() {
          let vm = this

          $.getJSON( "./data.json", function(json) {
            vm.jsondata = json
          });
        },
      },
    })

    app.loadData()
  </script>
</body>

</html>